:root {
  --main-bg-color: #f7f7f7;
  --light-neutral: #f2e7d5;
  --main-action-color: #6d9886;
  --dark-neutral: #393e46;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./fonts/Lato/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'IcoMoon';
  src: url(./fonts/IcoMoon/IcoMoon-Free.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
}

#navigationBar {
  display: flex;
  z-index: 1000;
  gap: 1rem;
  justify-content: flex-end;
  background-color: var(--dark-neutral);
  color: var(--main-bg-color);
}

.navToggle {
  display: none;
}

.icoMoonFont {
  font-family: 'IcoMoon';
}

button {
  all: unset;
  font-size: xx-large;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:hover {
  background-color: var(--main-action-color);
}

.arrowIcon {
  color: var(--main-bg-color);
  font-size: medium;
}

.dropDown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  background-color: var(--main-bg-color);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

  display: grid;
}

.dropDown > button:focus + .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
}

.dropdownMenu > a {
  all: unset;
  color: var(--dark-neutral);
  padding: 0.75rem;
  font-size: larger;
}

.dropdownMenu > a:hover {
  all: unset;
  color: var(--dark-neutral);
  background-color: var(--light-neutral);
  padding: 0.75rem;
  font-size: larger;
}

@media (max-width: 35em) {
  #navigationBar {
    position: fixed;
    inset: 0 0 0 30%;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: min(20vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  #navigationBar[data-visible='true'] {
    transform: translateX(0%);
  }

  .navToggle {
    display: block;
    color: var(--dark-neutral);
    z-index: 9999;
    font-size: xx-large;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
  }

  .navToggleOut {
    display: block;
    color: var(--main-bg-color);
    /* z-index: 9999;
    font-size: xx-large;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem; */
  }

  .dropdownMenu {
    display: none;
  }

  .dropDown > button:focus + .dropdownMenu {
    display: grid;
    position: relative;
  }
}
