:root {
  --main-bg-color: #f7f7f7;
  --light-neutral: #f2e7d5;
  --main-action-color: #6d9886;
  --dark-neutral: #393e46;
}

/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./fonts/Lato/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'IcoMoon';
  src: url(./fonts/IcoMoon/IcoMoon-Free.ttf);
}

@font-face {
  font-family: 'linearIcons';
  src: url(./fonts/Linearicons/Linearicons-Free.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lato-Regular', 'Courier New', Courier, monospace;
}

button {
  all: unset;
  font-size: xx-large;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:hover {
  background-color: var(--main-action-color);
}

.icoMoonFont {
  font-family: 'IcoMoon';
}

.linearIconsFont {
  font-family: 'linearIcons';
}

/* navigation */

#navigationBar {
  display: flex;
  z-index: 1000;
  gap: 1rem;
  justify-content: flex-end;
  background-color: var(--dark-neutral);
  color: var(--main-bg-color);
}

.navToggle {
  display: none;
}

.arrowIcon {
  color: var(--main-bg-color);
  font-size: medium;
}

.dropDown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  background-color: var(--main-bg-color);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  z-index: 9999;
  display: grid;
}

.dropDown > button:focus + .dropdownMenu {
  opacity: 1;
  transform: translateY(0);
}

.dropdownMenu > a {
  all: unset;
  color: var(--dark-neutral);
  padding: 0.75rem;
  font-size: larger;
}

.dropdownMenu > a:hover {
  all: unset;
  color: var(--dark-neutral);
  background-color: var(--light-neutral);
  padding: 0.75rem;
  font-size: larger;
}

@media (max-width: 35em) {
  #navigationBar {
    position: fixed;
    inset: 0 0 0 30%;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: min(20vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  #navigationBar[data-visible='true'] {
    transform: translateX(0%);
  }

  .navToggle {
    display: block;
    color: var(--dark-neutral);
    z-index: 9999;
    font-size: xx-large;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0, 0.2);
  }

  .navToggleOut {
    display: block;
    color: var(--main-bg-color);
  }

  .dropdownMenu {
    display: none;
  }

  .dropDown > button:focus + .dropdownMenu {
    display: grid;
    position: relative;
  }
}

/* Carousel */

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.carousel__image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background-color: lightgreen;
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__button--left {
  left: -50px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: rgb(0, 0, 0, 0.3);
}

.carousel__indicator.currentSlide {
  background: rgb(0, 0, 0, 0.8);
}

@media (max-width: 35em) {
  .carousel {
    height: 300px;
    width: 60%;
  }

  .carousel__button--left {
    left: -30px;
  }

  .carousel__button--right {
    right: -30px;
  }
}
